Repository ecmwf/anemoi-datasets, pull requests merged in 2025-06, with the labels that each got.

#294 fix: Incremental dataset build tasks called regardless of presence of debug flag in CLI code
  src/anemoi/datasets/commands/finalise-additions.py
  src/anemoi/datasets/commands/finalise.py
  src/anemoi/datasets/commands/init-additions.py
  src/anemoi/datasets/commands/load-additions.py
  src/anemoi/datasets/commands/load.py
Labels: bug, ATS Approval not needed

#355 fix: regression in accumulations #354
  src/anemoi/datasets/create/sources/accumulations.py
Labels: bug

#359 refactor: use fixtures in utils to get test data
  pyproject.toml
  tests/conftest.py
  tests/create/test_create.py
  tests/create/test_sources.py
Labels: dependencies, tests

#356 feat: sort xarray coordinate with patch
  src/anemoi/datasets/create/sources/xarray_support/patch.py
Labels: contributor
