Repository ecmwf/anemoi-datasets, pull requests merged in 2025-08, with the labels that each got.

#372 fix: Allow multiple options to be provided to anemoi-datasets inspect
  src/anemoi/datasets/commands/inspect.py
Labels: contributor

#322 fix: better handling of xarray metadata
  src/anemoi/datasets/create/sources/xarray_support/field.py
  src/anemoi/datasets/create/sources/xarray_support/metadata.py
Labels: bug

#397 chore: update anemoi-utils dependency version
  pyproject.toml
Labels: dependencies
