Repository ecmwf/anemoi-datasets, pull requests merged in 2025-07, with the labels that each got.

#361 chore(main): Release 0.5.26
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#381 feat: Extend xarray Variable.sel to handle scalar variables
  src/anemoi/datasets/create/sources/xarray_support/variable.py
  tests/xarray/test_variable.py
Labels: tests

#366 chore: Remove redundant files
  03-constant-fields.rst
  src/anemoi/datasets/utils/__init__.py
Labels: documentation

#391 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/python-pull-request.yml
Labels: sync, CI/CD

#389 docs: reference filters transform
  docs/howtos/create/04-create-with-filter.rst
  docs/howtos/create/yaml/recipe-filter1.yaml
  docs/howtos/create/yaml/recipe-filter2.yaml
  docs/howtos/introduction.rst
Labels: documentation
