Repository ecmwf/anemoi-datasets, pull requests merged in 2025-05, with the labels that each got.

#318 chore(deps): Relax s3fs spec
  pyproject.toml
Labels: dependencies

#321 chore(deps): earthkit-data<0.14
  pyproject.toml
Labels: dependencies

#315 chore(main): Release 0.5.23
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#279 feat: verify command
  src/anemoi/datasets/commands/verify.py
  src/anemoi/datasets/data/__init__.py
  src/anemoi/datasets/testing.py
  src/anemoi/datasets/verify.py
  tests/test_data.py
  tests/test_verify.py
  tests/xarray/test_zarr.py
Labels: enhancement, tests

#329 undo verify command
  src/anemoi/datasets/commands/verify.py
  src/anemoi/datasets/data/__init__.py
  src/anemoi/datasets/testing.py
  src/anemoi/datasets/verify.py
  tests/test_data.py
  tests/test_verify.py
  tests/xarray/test_zarr.py
Labels: tests

#331 fix: adapt to earthkit 0.14 (ignore_keys issue)
  pyproject.toml
  src/anemoi/datasets/create/sources/grib.py
  src/anemoi/datasets/create/sources/patterns.py
Labels: enhancement, dependencies

#304 test: add test for dataset creation using GRIB files with unstructured grid
  pyproject.toml
  tests/create/test_sources.py
Labels: dependencies, tests, WP4, ATS Approval not needed

#337 chore: synced file(s) with ecmwf/reusable-workflows
  .github/CODEOWNERS
  .github/pull_request_template.md
  .github/release.yml
  .github/workflows/downstream-ci-hpc.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/readthedocs-pr-update.yml
  .gitignore
  .pre-commit-config.yaml
Labels: sync, CI/CD

#324 chore(main): Release 0.5.24
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#347 chore: synced file(s) with ecmwf/reusable-workflows
  .release-please-config.json
Labels: sync
