Repository ecmwf/anemoi-datasets, pull requests merged in 2025-09, with the labels that each got.

#413 fix: cleaning _build when building datasets
  src/anemoi/datasets/create/zarr.py
  tests/create/utils/compare.py
Labels: bug, enhancement, tests, ATS Approval not needed

#330 feat: validate dataset
  docs/cli/introduction.rst
  docs/cli/validate.rst
  docs/index.rst
  src/anemoi/datasets/commands/validate.py
  src/anemoi/datasets/data/__init__.py
  src/anemoi/datasets/testing.py
  src/anemoi/datasets/validate.py
  tests/test_data.py
  tests/test_validate.py
  tests/xarray/test_samples.py
  tests/xarray/test_zarr.py
Labels: documentation, enhancement, tests, ATS approved

#416 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/pr-label-ats.yml
Labels: sync, CI/CD
