Repository ecmwf/anemoi-datasets, pull requests merged in 2025-03, with the labels that each got.

#225 fix: fix to_index
  src/anemoi/datasets/data/dataset.py
  src/anemoi/datasets/data/stores.py
Labels: enhancement

#224 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/downstream-ci-hpc.yml
  .gitignore
  .pre-commit-config.yaml
Labels: sync, CI/CD

#230 fix: allow xarrays with single value dimensions
  src/anemoi/datasets/create/functions/sources/xarray/coordinates.py
  src/anemoi/datasets/create/functions/sources/xarray/metadata.py
Labels: bug

#235 feat: better logging for group of dates
  src/anemoi/datasets/dates/__init__.py
Labels: enhancement

#247 fix: fix for bug #237
  src/anemoi/datasets/data/ensemble.py
Labels: bug

#240 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/downstream-ci-hpc.yml
  .gitignore
Labels: sync, CI/CD

#197 chore(main): Release 0.5.17
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#253 fix: modify execute function signature
  src/anemoi/datasets/create/filters/transform.py
Labels: contributor

#252 feat: better error message
  src/anemoi/datasets/data/dataset.py
Labels: enhancement

#254 chore(main): Release 0.5.18
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#265 docs: add reference to anemoi contributing guidelines
  docs/conf.py
  docs/dev/code_structure.rst
  docs/dev/contributing.rst
  docs/dev/testing.rst
  docs/index.rst
Labels: documentation

#268 fix: fix typo
  src/anemoi/datasets/create/filters/transform.py
Labels: enhancement

#228 feat: add environment variables in recipe
  src/anemoi/datasets/create/__init__.py
  src/anemoi/datasets/create/config.py
Labels: enhancement

#266 feat: 24h accumulations for era5
  src/anemoi/datasets/create/sources/accumulations.py
  src/anemoi/datasets/create/sources/accumulations2.py
  tests/create/accumulation.yaml
  tests/create/test_create.py
Labels: enhancement, tests

#269 fix: broken references in recipes
  src/anemoi/datasets/create/input/action.py
  src/anemoi/datasets/create/input/function.py
  src/anemoi/datasets/create/sources/legacy.py
  tests/create/regrid.yaml
  tests/create/test_create.py
Labels: bug, tests

#267 chore(main): Release 0.5.19
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#257 fix: Remove hardcoded indices and get pressure levels from keys directly
  src/anemoi/datasets/create/filters/pressure_level_relative_humidity_to_specific_humidity.py
  src/anemoi/datasets/create/filters/pressure_level_specific_humidity_to_relative_humidity.py
  src/anemoi/datasets/create/filters/wz_to_w.py
Labels: contributor

#255 docs: Add API Docs
  .readthedocs.yaml
  docs/Makefile
  docs/_templates/apidoc/package.rst.jinja
  docs/modules/create.rst
  docs/modules/data.rst
  docs/modules/filters.rst
  docs/modules/sources.rst
  docs/scripts/api_build.sh
  pyproject.toml
Labels: documentation, dependencies

#260 feat: interpolate nearest spatial
  src/anemoi/datasets/create/sources/xarray_support/fieldlist.py
  src/anemoi/datasets/data/complement.py
  src/anemoi/datasets/data/dataset.py
  src/anemoi/datasets/data/interpolate.py
  src/anemoi/datasets/grids.py
Labels: documentation

#231 feat: add trim_edge dataset filter
  docs/datasets/using/grids.rst
  docs/using/code/trimedge1_.py
  src/anemoi/datasets/data/dataset.py
  src/anemoi/datasets/data/masked.py
  tests/test_data.py
  tests/test_data_gridded.py
Labels: documentation, contributor, tests
