Repository ecmwf/anemoi-datasets, pull requests merged in 2025-04, with the labels that each got.

#271 docs: update documentation
  docs/datasets/building/filters.rst
  docs/datasets/building/filters/orog_to_z.rst
  docs/datasets/building/filters/regrid.rst
  docs/datasets/building/filters/rename.rst
  docs/datasets/building/filters/sum.rst
  docs/datasets/building/filters/wz_to_w.rst
  docs/datasets/building/handling-missing-dates.rst
  docs/datasets/building/handling-missing-values.rst
  docs/datasets/building/incremental.rst
  docs/datasets/building/introduction.rst
  docs/datasets/building/naming-conventions.rst
  docs/datasets/building/naming-variables.rst
  docs/datasets/building/operations.rst
  docs/datasets/building/sources.rst
  docs/datasets/building/sources/accumulations.rst
  docs/datasets/building/sources/anemoi-dataset.rst
  docs/datasets/building/sources/cds.rst
  docs/datasets/building/sources/eccc-fstd.rst
  docs/datasets/building/sources/forcings.rst
  docs/datasets/building/sources/grib.rst
  docs/datasets/building/sources/hindcasts.rst
  docs/datasets/building/sources/mars.rst
  docs/datasets/building/sources/netcdf.rst
  docs/datasets/building/sources/recentre.rst
  docs/datasets/building/sources/repeated-dates.rst
  docs/datasets/building/sources/xarray-based.rst
  docs/datasets/building/sources/xarray-zarr.rst
  docs/datasets/building/statistics.rst
  docs/datasets/introduction.rst
  docs/datasets/using/combining.rst
  docs/datasets/using/configuration.rst
  docs/datasets/using/ensembles.rst
  docs/datasets/using/grids.rst
  docs/datasets/using/introduction.rst
  docs/datasets/using/matching.rst
  docs/datasets/using/methods.rst
  docs/datasets/using/miscellaneous.rst
  docs/datasets/using/missing.rst
  docs/datasets/using/opening.rst
  docs/datasets/using/other.rst
  docs/datasets/using/selecting.rst
  docs/datasets/using/statistics.rst
  docs/datasets/using/subsetting.rst
  docs/datasets/using/zip.rst
  docs/index.rst
  docs/installing.rst
  docs/overview.rst
  docs/usage/getting_started.rst
  src/anemoi/datasets/commands/inspect.py
  src/anemoi/datasets/create/__init__.py
  src/anemoi/datasets/create/writer.py
  src/anemoi/datasets/data/misc.py
Labels: documentation

#274 docs: time interpolation example
  docs/howtos/introduction.rst
  docs/howtos/usage/01-interpolate-step-dataset-combination.rst
  docs/howtos/usage/yaml/interpolate.yaml
  docs/howtos/usage/yaml/sample.yaml
Labels: documentation

#276 docs: some cleanup
  docs/howtos/create/01-grib-data.rst
  docs/howtos/usage/01-interpolate-step-dataset-combination.rst
  docs/howtos/usage/code/interpolate1.py
  docs/howtos/usage/code/interpolate2.py
  docs/howtos/usage/yaml/interpolate1.yaml
  docs/howtos/usage/yaml/interpolate2.yaml
Labels: documentation

#275 fix: grib-index command default
  src/anemoi/datasets/commands/grib-index.py
Labels: bug

#277 feat: more tests
  pyproject.toml
  tests/create/test_create.py
  tests/create/test_sources.py
  tests/xarray/test_opendap.py
  tests/xarray/test_samples.py
  tests/xarray/test_zarr.py
Labels: enhancement, dependencies, tests

#250 fix: computed forcings for unstructured grids in GRIB
  src/anemoi/datasets/create/sources/forcings.py
  src/anemoi/datasets/create/sources/grib.py
Labels: contributor

#284 fix: update version of transform
  pyproject.toml
Labels: dependencies

#285 fix: pin version of numcodecs
  pyproject.toml
Labels: bug, dependencies

#272 chore(main): Release 0.5.21
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#281 feat: optionally search for zarr files at various location if not found
  pyproject.toml
  src/anemoi/datasets/data/stores.py
Labels: enhancement, dependencies

#288 feat: downloading zip files if needed
  src/anemoi/datasets/data/stores.py
Labels: enhancement

#289 fix: fix copy
  src/anemoi/datasets/commands/copy.py
Labels: enhancement

#303 fix: Proper indent for parallel additions
  src/anemoi/datasets/commands/create.py
Labels: bug

#287 feat: add command line tool to check naming conventions
  src/anemoi/datasets/commands/check.py
  src/anemoi/datasets/create/check.py
Labels: enhancement

#283 docs: update some docstrings
  src/anemoi/datasets/create/sources/grib.py
Labels: documentation, dependencies

#300 feat: reset accumulations
  src/anemoi/datasets/commands/scan.py
  src/anemoi/datasets/create/input/result.py
  src/anemoi/datasets/create/sources/accumulations.py
  src/anemoi/datasets/data/forwards.py
Labels: enhancement

#296 fix: bug in complement
  docs/howtos/usage/02-coutout-complement-combination.rst
  docs/howtos/usage/code/cutout-complement1.py
  docs/howtos/usage/yaml/cutout-complement1.yaml
  src/anemoi/datasets/create/__init__.py
  src/anemoi/datasets/create/input/action.py
  src/anemoi/datasets/data/complement.py
  src/anemoi/datasets/data/grids.py
Labels: bug, documentation

#307 feat: copy datasets from http(s) sources
  src/anemoi/datasets/commands/copy.py
Labels: enhancement

#297 chore(deps,test): Update dependencies to include s3fs for xarray test
  pyproject.toml
  tests/create/test_sources.py
Labels: dependencies, tests
