Repository ecmwf/anemoi-datasets, pull requests merged in 2025-02, with the labels that each got.

#186 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/PULL_REQUEST_TEMPLATE/pull_request_template.md
  .github/ci-config.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/changelog-pr-update.yml
  .github/workflows/changelog-release-update.yml
  .github/workflows/ci.yml
  .github/workflows/downstream-ci-hpc.yml
  .github/workflows/pr-conventional-commit.yml
  .github/workflows/pr-label-conventional-commits.yml
  .github/workflows/pr-label-file-based.yml
  .github/workflows/pr-label-public.yml
  .github/workflows/push-to-private.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
  .github/workflows/readthedocs-pr-update.yml
  .github/workflows/release-please.yml
  .gitignore
  .pre-commit-config.yaml
  .release-please-config.json
  .release-please-manifest.json
  CONTRIBUTORS.md
  LICENSE
  README.md
Labels: sync

#193 chore(main): Preparing Next Release for 0.5.16
  .release-please-manifest.json
  CHANGELOG.md
Labels: documentation, autorelease: pending

#188 feat: support sub-hourly steps
  src/anemoi/datasets/create/input/result.py
  src/anemoi/datasets/data/dataset.py
Labels: no changelog

#196 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .pre-commit-config.yaml
Labels: sync, CI/CD

#198 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/pull_request_template.md
Labels: sync, CI/CD

#204 feat: update test breaking due to noaa external data change
  tests/xarray/test_zarr.py
Labels: tests

#199 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .github/labeler.yml
  .github/workflows/pr-label-conventional-commits.yml
  .release-please-config.json
Labels: sync, CI/CD

#208 docs: add animation
  docs/overview.rst
Labels: documentation

#209 feat: Use set in computing statistics, faster and use less memory
  src/anemoi/datasets/create/statistics/__init__.py
Labels: enhancement

#201 docs: update doc with eccc-fstd, cdsapi and regrid
  docs/building/filters.rst
  docs/building/filters/regrid.rst
  docs/building/filters/yaml/regrid1.yaml
  docs/building/filters/yaml/regrid2.yaml
  docs/building/sources.rst
  docs/building/sources/eccc_fstd.rst
  docs/building/sources/mars.rst
  docs/building/sources/yaml/eccc_fstd.yaml
  docs/building/sources/yaml/mars-cds.yaml
Labels: documentation, no changelog

#214 chore: synced file(s) with ecmwf-actions/reusable-workflows
  .pre-commit-config.yaml
  src/anemoi/datasets/data/dataset.py
Labels: sync, CI/CD

#207 fix: create forcings based on xarray-zarr template
  src/anemoi/datasets/create/input/template.py
Labels: contributor

#211 docs: use new logo
  docs/_static/logo.png
Labels: documentation

#221 chore: synced file(s) with ecmwf/reusable-workflows
  .github/workflows/pr-label-public.yml
  .github/workflows/python-publish.yml
  .github/workflows/python-pull-request.yml
Labels: sync, CI/CD

#192 feat: add coordinate standard_name for rotated pole grid
  src/anemoi/datasets/create/functions/sources/xarray/flavour.py
Labels: enhancement, no changelog

#223 docs: fix readthedocs
  .readthedocs.yaml
Labels: enhancement
